/* วิษณุ รั้งกระโทก 643040211-3 */
html {
    background-color: rgba(81, 12, 150, 0.767);
    padding-top: 20px;
}

a {
    color: rgb(56, 255, 12);
}

.text-Content {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
}

.text-Content2 {
    font-size: 12px;
    color: #ffffff;
}

figure {
    margin: 10px auto;
    padding: 10px auto;
}

img {
    display: block;
    margin: 10px auto;
    width: 50%;
}

figcaption {
    margin: 5px auto;
    padding: 5px auto;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

ul {
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.text-head {
    margin: 1px auto;
    padding: 1px auto;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
}

html {
    background-color: rgba(81, 12, 150, 0.767);
}

body {
    width: 600px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    background: radial-gradient(circle, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 0.5) 100%);
    border-radius: 20px;

}


#popular {

    border: 4px dotted rgb(255, 11, 11);

}

/* IPad Air Ls*/
@media screen and (max-width: 1200px) and (orientation: landscape) {

    body {
        width: 70%;
    }

    .text-Content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 26px;

    }

    .text-Content2 {
        padding: 10px;
        font-size: 24px;
    }

    .container {
        padding-right: 20px;
    }

    .Main-container {
        padding: 30px;

    }

}

/* IPad Air Pt*/
@media screen and (max-width: 900px) and (orientation: portrait) {

    body {
        width: 70%;

    }

    .text-Content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 26px;

    }

    .text-Content2 {
        padding: 10px;
        font-size: 24px;
    }

    .container {
        padding-right: 20px;
    }

}

/* IPhon SE Ls*/
@media screen and (max-width: 700px) and (orientation: landscape) {
    body {
        width: 90%;
    }

    .text-Content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

    .text-Content2 {
        padding: 10px;
        font-size: 18px;
    }

    .container {
        padding-right: 20px;
    }

}

/* IPhon SE Pt*/
@media screen and (max-width: 380px) and (orientation: portrait) {
    body {
        width: 90%;
    }

    .text-Content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 18px;
    }

    .text-Content2 {
        padding: 10px;
        font-size: 18px;
    }

    .container {
        padding-right: 20px;
    }

}